{% set title = "404 Not Found" %}
{% extends "layout.nunjucks" %}


{% block content %}

<main>
    <section>
        <div class="main error">
            <div class="main-background">
                <img src="/assets/images/404.png" alt="">
            </div>
            <div class="container">
                <h1>404</h1>
                <h2>Извините, страница не найдена!</h2>
                <p class="subtitle">Такой страницы не существует или она была удалена</p>
                <a href="#">
                    <img src="/assets/images/arrow_down.svg" alt="">
                </a>
            </div>
        </div>
    </section>
</main>

{% endblock %}

