{% set title = "Main" %}
{% extends "layout.nunjucks" %}


{% block content %}

<main>
    <section>
        <div class="main">
            <div class="main-background">
                <img src="../../assets/images/bg.png" alt="">
            </div>
            <div class="container">
                <h1>Ladesign</h1>
                <h4>Дизайн-проекты жилых и коммерческих помещений. Малая архитектура</h4>
                <a href="#">
                    <img src="../../assets/images/arrow_down.svg" alt="">
                </a>
            </div>
        </div>
    </section>
    <section>
        <div class="advantages">
            <div class="container">
                <h2>Наша команда дает уверенность</h2>
                <div class="advantages-wrapper">
                    <div class="advantages-list">
                        <p class="subtitle">Дизайн-проект от студии LA Design не только совершенен по дизайну, но и реализуем</p>
                        <div class="advantages-spoiler">
                            <div class="spoiler">
                                <div class="spoiler-visible">
                                    <h4>Каждый проект уникален</h4>
                                    <img src="../../assets/images/spoiler-arrow.svg" alt="">
                                </div>
                                <div class="spoiler-hidden">
                                    <p>Дизайнеры и архитекторы студии не работают по шаблону, учитывают все пожелания и не копируют работы из чужих портфолио</p>
                                </div>
                            </div>
                            <div class="spoiler">
                                <div class="spoiler-visible">
                                    <h4>Полное сопровождение</h4>
                                    <img src="../../assets/images/spoiler-arrow.svg" alt="">
                                </div>
                                <div class="spoiler-hidden">
                                    <p>Клиент может заказать услугу по авторскому надзору и вообще не приезжать на объект. Мы будем контролировать и корректировать ход выполнения ремонтных работ согласно дизайн-проекту</p>
                                </div>
                            </div>
                            <div class="spoiler">
                                <div class="spoiler-visible">
                                    <h4>Согласование перепланировки</h4>
                                    <img src="../../assets/images/spoiler-arrow.svg" alt="">
                                </div>
                                <div class="spoiler-hidden">
                                    <p>Поможем согласовать любые планировочные решения, которые не противоречат закону. Возьмем на себя все бумажные вопросы, чтобы освободить ваше время</p>
                                </div>
                            </div>
                            <div class="spoiler">
                                <div class="spoiler-visible">
                                    <h4>Техническая документация</h4>
                                    <img src="../../assets/images/spoiler-arrow.svg" alt="">
                                </div>
                                <div class="spoiler-hidden">
                                    <p>Готовим полный пакет документов, который гарантирует ответственный подход к работе и высокое качество реализованного дизайн-проекта</p>
                                </div>
                            </div>
                            <div class="spoiler">
                                <div class="spoiler-visible">
                                    <h4>Строгая политика конфиденциальности</h4>
                                    <img src="../../assets/images/spoiler-arrow.svg" alt="">
                                </div>
                                <div class="spoiler-hidden">
                                    <p>Обеспечиваем защиту персональных данных заказчиков и не раскрываем их третьим лицам.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="advantages-image">
                        <img src="../../assets/images/advantages.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="portfolio">
            <div class="container">
                <h2>Портфолио</h2>
                <nav class="navbar">
                    <ul>
                        <li class="navbar-item selected">
                            <span class="menu">Все работы</span>
                            <span class="navbar-item__count">29</span>
                        </li>
                        <li class="navbar-item">
                            <span class="menu">Квартиры</span>
                            <span class="navbar-item__count">29</span>
                        </li>
                        <li class="navbar-item">
                            <span class="menu">дома</span>
                            <span class="navbar-item__count">29</span>
                        </li>
                        <li class="navbar-item">
                            <span class="menu">коммерческие помещения</span>
                            <span class="navbar-item__count">29</span>
                        </li>
                    </ul>
                </nav>
                {% include "gallery.nunjucks" %}
            </div>
        </div>
    </section>
</main>

{% endblock %}